:root {
  --couleurWhite: rgb(255, 255, 255);
  --couleurBleu: rgb(39, 144, 255);
  --couleurRed: rgb(207, 12, 12);
  --couleurNoir: #000;
  --couleurGris: #dedede;
}
/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;700;900&display=swap');

@import url('https://fonts.bunny.net/css?family=audiowide:400');

/* petit reset minimal de base */
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  /* On normalise la taille d'écriture sur l'élément html (root) à 10px. Donc 1rem = 10px */
  font-size: 62.5%;
  -webkit-text-size-adjust: none;
  /*─ Debug font size on iphone when landscape orientation ─*/
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  -ms-text-size-adjust: 100%;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  cursor: default;
  scroll-behavior: smooth;
  tab-size: 4;
  background: var(--couleurWhite);
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  /* On remet la taille de la police d'écriture à 16px, vu que 1rem = 10px, 1.6rem = 16px. Donc par rapport au body 1em = 16px */
  font-size: 1.6rem;
  font-family: "Nunito Sans", serif;
  overflow-x: hidden;
  text-rendering: optimizeSpeed;
  position: relative;
  width: 100%;
  height: 100vh;
  -webkit-overflow-scrolling: touch;
  color: #131418;
  background-color: #efefef;
}

img,
video,
picture {
  display: block;
  max-width: 100%;
}

img,
video {
  width: 100%;
  height: auto;
}

svg {
  display: inline-block;
  max-width: 100%;
  width: 100%;
  height: auto;
}

/* Preventing Text Overflow */
h1,
h2,
h3,
h4,
h5,
p {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Audiowide', display;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.flex {
  display: flex;
}

.flexRow {
  display: flex;
  flex-direction: row;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}



/* Nav */
#navContact {
  background: var(--couleurNoir);
  width: 100%;
  height: 6vh;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em;
  position: fixed;
  top: 0;
  z-index: 1;

}

#mail,
#tel {
  font-size: 1.1em;
}

#logoMail,
#logoTel {
  filter: invert(100%);
  -webkit-filter: invert(100%);
  fill: currentColor;
  width: 2em;
}

#logoMail {
  padding-right: 1em;
  filter: invert(20%) sepia(44%) saturate(4496%) hue-rotate(348deg) brightness(84%) contrast(129%);
}

#logoTel {
  padding-left: 1em;
  filter: invert(19%) sepia(72%) saturate(5093%) hue-rotate(240deg) brightness(89%) contrast(114%);
}

#contactRS {
  gap: 1em;
}

.reseauxSociaux {
  filter: invert(100%);
  -webkit-filter: invert(100%);
  width: 1.8em;
}

.white {
  color: var(--couleurWhite);
}

/* Header */

header {
  justify-content: space-between;
  padding: 1em;
  margin-top: 3em;
  background: var(--couleurGris);
}

#itemsMenu {
  color: var(--couleurNoir);
  gap: 0.7em;
}

/*Main*/

main {
  width: 100%;
  height: 50em;
  font-size: 1.5em;
  background: var(--couleurGris);
}

.red {
  color: var(--couleurRed);
  font-weight: bold;
}


#containerMain {
  margin: 0 15% 2em;
  height: 100%;
  background: url("../assets/images/home-page-header.png") no-repeat bottom center;
  justify-content: center;
}

#elementMain1 {
  justify-content: space-between;
  margin-top: 2.9em;
}

#elementMain2 {
  justify-content: space-between;
  padding-top: 1.2em;
  font-size: 0.8em;
  margin: 1.5em 0;
}

#elementMain3 {
  justify-content: space-between;
  font-weight: bold;
}

#sousElementMain1 {
  padding-right: 20%;
}

#sousElementMain2 {
  font-size: 0.7em;
  padding-right: 13%;
}

#sousElementMain3 {
  align-items: flex-end;
  padding-right: 5%;
}

#sousElementMain4 {
  text-align: center;
  padding: 0 9%;
}

#logoNetwork {
  width: 100%;
  height: 3em;
}

/* section */

section {
  width: 100%;
  padding-top: 9.6em;
  margin-bottom: 12em;
  background: rgb(255, 255, 255);
}

h2 {
  font-size: 2em;
  font-weight: 500;
}

h2::after,
h2::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 4em;
  height: 0.05em;
  background: var(--couleurNoir);
  ;
}

h2::after {
  margin-left: 0.5em;
}

h2::before {
  margin-right: 0.5em;
}

h3 {
  font-size: 1.6em;
}

h4 {
  font-size: 1.2em;
  font-weight: 300;
  padding: 1em 0 3.2em 0;
}

/* Parite travail */
#travail {
  margin: 0 15%;
  align-items: stretch;
  justify-content: center;
}

#taches {
  width: 40%;
  padding: 0.5em;

}

#tacheDescription {
  padding: 1em 0.5em;
  width: 60%;
}

#tacheDescription p:nth-of-type(1) {
  margin: 2em auto 0.5em;
}

#tacheDescription p:nth-of-type(2) {
  margin: 0.5em auto 2em;
}

.tache:nth-of-type(1) {
  color: var(--couleurRed);
}

.tache:nth-of-type(2) {
  color: gold;
}

.tache:nth-of-type(3) {
  color: rgb(0, 162, 255);
}

.tache {
  width: 100%;
  align-items: center;
  margin: 1em auto;
  padding: 0 1em 0.5em;
  border-radius: 0.5em;
  background: var(--couleurNoir);
}

.tache p {
  padding: 1em;
  font-size: 1.1em;
  font-weight: bold;
}

.tache svg {
  fill: currentColor;
  width: 2em;
}

/* Partie biographie */

#containerBiographie {
  background: var(--couleurWhite);
  margin: 9.6em 15%;
}

#biographie {
  width: 60%;
  justify-content: center;
  text-align: left;
}

#biographie h3 {
  padding-bottom: 1.5em;
}

#biographie p:nth-of-type(2) {
  padding: 1.5em 0;
}

#imageBiographie {
  width: 40%;
}


/* Partie compétence */
#containerCompetence {
  background: var(--couleurWhite);
  margin: 9.6em 15%;

}

#containerCompetence h2,
#containerCompetence h4 {
  text-align: center;
}

#containerCompetence h5:nth-of-type(1) {
  font-size: 1.2em;
  padding-bottom: 2em;
}

#containerCompetence h5:nth-of-type(2) {
  font-size: 1.2em;
  padding: 1.5em 0 1em;
}


#devCompetence,
#domaineCompetence {
  width: 50%;
}

#devCompetence ul {
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

#domaineCompetence {
  align-items: center;
  font-size: 1em;
  padding-bottom: 5em;
}

.domaine {
  color: var(--couleurRed);
  font-weight: bold;
  font-size: 1.3em;
}

.domaine::before {
  display: inline-block;
  content: ' ';
  background-image: url('../assets/icons/icon-round-check.svg');
  background-size: 1em 1em;
  height: 1em;
  width: 1em;
  margin-right: 0.5em;
}

.iconCompetence {
  width: 14%;
  color: #0ED7B5;
}

.iconCompetencePlus {
  width: 20%;
}

.iconCompetenceGraphique {
  width: 6%;
}

/* Partie formation */
#containerFormation {
  align-items: center;
  margin: 9.6em 15%;
}

#cards {
  gap: 1em;
  text-align: center;
  margin: 2em 0;
  justify-content: space-between;

}

.card {
  width: 32%;
  align-items: stretch;
  padding-top: 0.5em;
  border: 0.1em solid gray;
  border-radius: 0.2em;
  gap: 0.5em;
}

.btnCertificat {
  background: var(--couleurGris);
  color: var(--couleurBleu);
  width: 100%;
  border-top: 0.1em solid gray;
  padding: 1em 0;
}

.texteBtnCertificat {
  background: black;
  color: var(--couleurBleu);
  padding: 0.5em 1em;
  border-radius: 2em;
  cursor: pointer;
  text-shadow: 0.5px 0.5px 0.5px var(--couleurWhite);
}

.texteBtnCertificat:hover {
  color: var(--couleurWhite);
  background: rgba(0, 0, 0, 0.8);
}

.card svg {
  width: 2em;
  margin: 0.2em 0;
}

.card hr {
  height: 0.2em;
  background: black;
  width: 12em;
  margin: 0.3em 0;
}

.card p {
  padding:1em;
}

.card h6 {
  color: var(--couleurBleu);
  font-size: 0.9em;
  margin-top: 1em;
  text-shadow: 0.2px 0.1px 0.1px var(--couleurNoir);
}

.poste {
  margin-top: 1em;
  font-weight: bold;
}

.formation {
  align-items: center;
  height: 100%;
}

#cv {
  margin-bottom: 1em;
  gap: 0.5em;
}

#logoPDF {
  width: 1em;
}

/* Partie réalisation */
#containerRealisation {
  align-items: center;
  margin: 9.6em 15% 0;
}

#projets {
  width: 100%;
  padding: 1em;
}


.projet {
  width: 100%;
  margin-bottom: 2em;
}

.projetImage {
  width: 60%;
  border-radius: 0.2em;
  position: relative;
}

.inverse{
  order: 2;
}

.projetImage img {
  width: 100%;
  height: 100%;
  border-radius: 0.2em;
  box-shadow: 4px 0px 57px 7px rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: 4px 0px 57px 7px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 4px 0px 57px 7px rgba(0, 0, 0, 0.24);
  
}

.titreImage {
  width: 100%;
  border-radius: 0 0 2em 2em;
  text-align: center;
  color: var(--couleurWhite);
  background: rgba(0, 0, 0, 0.8);
  padding: 0.5em;
  position: absolute;
  top: 0;
  font-family: 'Audiowide', display;
  font-size: 1em;
  font-weight: bold;
}

.projetDescription {
  width: 40%;
  justify-content: center;
  gap: 1em;
  margin: 0 2em;
}

.projetDescription h5 {
  font-size: 1em;
}
.projetDescription h6 {
  text-decoration: underline;
}

.projetDescription span {
  font-size: 0.7em;
}

.btnProjet {
  background: black;
  color: var(--couleurBleu);
  padding: 0.5em 1em;
  border-radius: 0.2em;
  cursor: pointer;
  width: 5em;
  font-size: 1.1em;
  font-weight: bold;
  letter-spacing: 0.2em;
  align-items: center;
  text-shadow: 0.5px 0.5px 0.5px var(--couleurWhite);
}

.btnProjet:hover {
  color: var(--couleurWhite);
  background: rgba(0, 0, 0, 0.8);

}

/* Footer */

footer {
  background: var(--couleurNoir);
  color: var(--couleurWhite);
  text-align: center;
  padding: 2em 5em;
}

#containerFooter {
  padding: 1em;
  line-height:1.5em;
}

#containerFooter ul,
#containerFooter p {
  justify-content: center;
  padding: 1em 0;
}

#containerFooter h3 {
  padding-bottom: 1em;
}

#containerFooter ul li a {
  color: var(--couleurBleu);
}

.gold {
  color: gold;
}

